---
import Base from '../layouts/Base.astro';
---
<Base>
  <h1 class="text-5xl font-bold mb-4">Innovative Technology Engineer</h1>
  <p class="text-xl text-zinc-700">UX Design · Product Specialist · Industrial Automation</p>
</Base>
